.persona-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.persona-card {
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.map {
  height: 250px;
  width: 100%;
  margin-top: 10px;
}
